.list {
  list-style: none;
  padding: 1rem 0;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  grid-template-columns: 50px 1fr;
}
.list > div {
  display: flex;
  cursor: pointer;
}
.list ul {
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.list li { /* > * + * */ 
  padding: 1rem;
  margin-right: 1rem;
  color:rgb(255, 255, 255);
  transition:  0.1s linear; 
}

.navAnchor a {
  transition:  0.1s linear;
  color: rgb(129, 129, 129);
}

.navAnchor a:hover{
  color: white;
}